{% extends 'apli/base.html' %}
{% block title %}Kontakt{% endblock %}
{% block clients_active %}active{% endblock %}
{% load render_table from django_tables2 %}



{% block body %}

    <!--TITULO y BOTON VENTANA    -->

 <div class="container">

        <div class="form-group ">

            <div class="row">
                <h1 class="form-control-static">Liste Kontakt</h1> 
            </div>
        

            <div class="row">
                <a href="{% url 'person_new' %}" <button type="submit" class=" btn btn-success btn-md pull-right "><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> </a>
            </div>
        
<hr/>
        <br>
        {% if all_persons %}
    <head>
            <body>
                <div class="container">
                    <div class="row">
                      <table id="person_index" class="table  table-hover table-condensed order-column" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>Mail</th>
                                    <th>Telefonnummer</th>
                                    <th>Sedcard</th>
                                </tr>
                            </thead>
                            
                            <tbody>
                                {% for person in all_persons %}

                                    <tr>
                                        
                                        <td><a href="{% url 'person_detail' person.id %}">{{person.name}}</a></td>
                                        <td>{{person.statut}}</td>
                                        <td><a href="mailto:{{ person.email }}">{{person.email}}</a></td>
                                        <td><a href="tel:{{ person.telephone }}">{{person.telephone}}</a></td>
                                        <td>{{person.sedcard}}</p></td>
                                    </tr>
                                {% endfor %}
                               
                            </tbody>
                        </table>
                    </div>
                </div>
            </body>
    </head>

</div>

 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>


        <script src="//code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
        <script type="text/javascript">
           $(document).ready(function() {
            $('#project_index').DataTable();
            } );
           $(document).ready(function() {
            $('#person_index').DataTable();
            } );
        </script>

    {% else %}
    {% endif %}
{% endblock%}