{% extends 'apli/base.html' %}
{% block title %}Add a Model{% endblock %}
{% block models_active %}active{% endblock %}

{% block body %} 
	<div class="container">
		<div class="panel-body container">
			<div class="row">
				<div class="col-md-9,1">
				    <p><h1 class="container "> Neuer Kontakt erstellen </h1></p>
				    <br>
					<div class="">
						

							<form class="form-horizontal container" action="" method="post" enctype="multipart/form-data">
								
								{% include 'apli/form-template.html' %}

								</div>
							</form>

						</div>
					</div>
				</div>
		</div>
	</div>
{% endblock %}