{% extends 'apli/base.html' %}
{% block title %}proyecto{% endblock %}


{% block body %}
	<div class="container">
		<div class="form-group">
			<div class="col-md-12">
			    <p><h1 class="container "> Neuer Angebot /  Auftrag / job erstellen </h1></p>
			    <br>
			    </div>
					<div class="">
					
							<form class="" action="" method="post" enctype="multipart/form-data">
									
									{% csrf_token %}
									{% include 'apli/form-template.html' %}
									
								<div class="form-group ">
									<div class=" col-md-3">
										 <br>
										 <br>
										 <br>
										
										<button type="submit" class="btn btn-lg col-md-5 btn-success">Submit</button>
									    <a href="{{request.META.HTTP_REFERER}}" <button type="button" class="btn btn-warning btn-md col-md-5 pull-right" data-dismiss="modal" >Stornieren</a>
									</div>

								</div>
							</form>

						
					</div>
			
		</div>
	</div>
{% endblock %}